<?xml version="1.0"?>
<launch>

  <include file="$(find bekci)/launch/quantative.launch">
  </include>
  <include file="$(find bekci)/launch/space_screen.launch">
  </include>

  <group ns="guvenlik_bekcisi">
    <node
        pkg="bekci"
        type="SafetyStatusDecider"
        name="SafetyStatusDecider"
        />
        
    <node
        pkg="bekci"
        type="StopAction"
        name="StopAction"
        args="real"
        />

    <node
        pkg="bekci"
        type="velocityScaler"
        name="velocityScaler"
        args="real"
        output="screen"
        />

    <node
        pkg="bekci"
        type="visualizer"
        name="visualizer"
        args="$(find bekci)/input/space_limits.xml"
        output="screen"
        />
</group>

</launch>